@import "tailwindcss";

@import "./component/home/page/main/MainPage.css";
@import "./component/home/page/aichat/aichat.css";
@import "./component/home/page/main/customselect/SelectStyles.css";
@import "./component/home/page/main/section/SectionStyles.css";
@import "./component/home/page/informationhub/insectpestsinfo.css";


body {
    font-family: "Noto Sans KR", sans-serif;
}

:root {
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}



